@import "tailwindcss";

/*@theme {*/
/*  --color-background: 'rgba(29, 29, 29, 1)';*/
/*  --color-white64: 'rgba(255, 255, 255, 0.64)';*/
/*  --color-neutral-350: 'rgba(184, 184, 184, 1)';*/
/*  --color-primary-700: 'rgba(37, 108, 138, 1)';*/
/*  --color-primary-500: 'rgba(0, 167, 237, 1)';*/
/*  --color-separator-12: 'rgba(118, 118, 128, 0.12)';*/
/*}*/

@font-face {
  font-family: "Inter";
  src: url('@/shared/assets/fonts/Inter.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html, body {
    background-color: #121212;
  }

  body {
    user-select: none;
    font-family: "Suisse", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", sans-serif;
    @apply m-0 min-h-screen min-w-80 text-slate-100 antialiased;
  }

  a {
    @apply font-medium text-emerald-400 underline-offset-4 transition-colors hover:text-emerald-300;
  }
}
